* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 2rem;
}

.titleContainer {
  text-align: center;
  padding: 2rem;
}

.message {
  padding: 1em;
  color: #004085;
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 5px;
  text-align: center;
  margin: 1rem auto 2em;
  max-width: calc(850px - 4rem);
}

footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
