<div class="auth-container">
  <div class="titleContainer">
    <h2>Formulário para cadastro de usuários</h2>
  </div>
  <form action="/" method="POST" class="formContainer">
    <div class="form-control">
      <label for="name">Nome:</label>
      <input type="text" name="name" placeholder="Digite o nome" required />
    </div>
    <div class="form-control">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="Digite o email" required />
    </div>
    <div class="form-control">
      <label for="phone">Telefone:</label>
      <input
        type="text"
        name="phone"
        placeholder="Digite o telefone"
        required
      />
    </div>
    <div class="form-control">
      <label for="company">Empresa:</label>
      <input
        type="text"
        name="company"
        placeholder="Digite o nome da empresa"
        required
      />
    </div>
    <button type="submit">Cadastrar</button>
  </form>
</div>